In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:\\Users\\lenovo\\Documents\\S2\\Machin Learning\\RL && KNN && KVM\\Heart_health.csv')

In [4]:
data = df.copy()

In [5]:
data.shape

(724, 12)

In [6]:
data.head()

,ID,Name,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,1,John Doe,45,Male,175,80,120/80,200,90,No,3,0
1,2,Jane Smith,35,Female,160,65,110/70,180,80,No,2,0
2,3,Michael Johnson,55,Male,180,85,130/85,220,95,Yes,4,1
3,4,Sarah Brown,40,Female,165,70,115/75,190,85,No,3,0
4,5,David Lee,50,Male,170,75,125/80,210,92,Yes,2,1

# Valeur null

In [7]:
data.isna().sum()

ID                      0
Name                    0
Age                     0
Gender                  0
Height(cm)              0
Weight(kg)              0
Blood Pressure(mmHg)    0
Cholesterol(mg/dL)      0
Glucose(mg/dL)          0
Smoker                  0
Exercise(hours/week)    0
Heart Attack            0
dtype: int64

# Data Clean

In [8]:
data_clean=data.drop(['ID','Name'],axis=1)

In [9]:
data_clean.columns

Index(['Age', 'Gender', 'Height(cm)', 'Weight(kg)', 'Blood Pressure(mmHg)',
       'Cholesterol(mg/dL)', 'Glucose(mg/dL)', 'Smoker',
       'Exercise(hours/week)', 'Heart Attack'],
      dtype='object')

In [10]:
data_clean.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,45,Male,175,80,120/80,200,90,No,3,0
1,35,Female,160,65,110/70,180,80,No,2,0
2,55,Male,180,85,130/85,220,95,Yes,4,1
3,40,Female,165,70,115/75,190,85,No,3,0
4,50,Male,170,75,125/80,210,92,Yes,2,1

# Transormalisation

In [59]:
data_trans = data_clean.copy()

In [60]:
print("valeur unique de Gender est : ",data_trans['Gender'].unique())
print("valeur unique de Smoker est : ",data_trans['Smoker'].unique())

valeur unique de Gender est :  ['Male' 'Female']
valeur unique de Smoker est :  ['No' 'Yes']

In [61]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
catg=['Gender','Smoker']

for cat in catg:
    data_trans[cat] = lb.fit_transform(data_trans[cat])

In [28]:
print("valeur unique de Gender est : ",data_trans['Gender'].unique())
print("valeur unique de Smoker est : ",data_trans['Smoker'].unique())

valeur unique de Gender est :  [1 0]
valeur unique de Smoker est :  [0 1]

In [62]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack
0,45,1,175,80,120/80,200,90,0,3,0
1,35,0,160,65,110/70,180,80,0,2,0
2,55,1,180,85,130/85,220,95,1,4,1
3,40,0,165,70,115/75,190,85,0,3,0
4,50,1,170,75,125/80,210,92,1,2,1

In [63]:
#Poids idéal d’un homme (en Kg) = Taille (en cm) – 100 – ((Taille (en cm) – 150) /4 ).
#Poids idéal d’une femme (en Kg) = Taille (en cm) – 100 – ((Taille (en cm) – 150) /2,5 ).
#data_test.loc['Ideal', data_test['Gender']==1] = data_test['Height(cm)']-100-((data_test['Height(cm)']-150)/4)
#data_test.loc['Ideal', data_test['Gender']==0] = data_test['Height(cm)']-100-((data_test['Height(cm)']-150)/2.5)

data_trans['IMC'] = data_trans['Weight(kg)']/((data_trans['Height(cm)']/100)*(data_trans['Height(cm)']/100))

In [64]:
data_trans.head()

,Age,Gender,Height(cm),Weight(kg),Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,IMC
0,45,1,175,80,120/80,200,90,0,3,0,26.122449
1,35,0,160,65,110/70,180,80,0,2,0,25.390625
2,55,1,180,85,130/85,220,95,1,4,1,26.234568
3,40,0,165,70,115/75,190,85,0,3,0,25.711662
4,50,1,170,75,125/80,210,92,1,2,1,25.951557

In [ ]:
"""
Une fois votre IMC calculé, on peut interpréter son résultat parmi ces repères établis par l’Organisation Mondiale de la Santé (OMS) :

Inférieur à 16 > Anorexie ou dénutrition                  => 0
Entre 16.5 et 18.5 > Insuffisance pondérale ou maigreur   => 1
Entre 18.5 et 25 > Corpulence normale                     => 2
Entre 25 et 30 > Surpoids                                 => 3
Entre 30 et 35 > Obésité modérée                          => 4
Entre 35 et 40 > Obésité élevée                           => 5
Supérieur à 40 > Obésité morbide ou massive               => 6
"""

In [65]:
data_trans.loc[data_trans['IMC'] < 16, 'IMC'] = 0
data_trans.loc[(data_trans['IMC'] >= 16) & (data_trans['IMC'] < 18.5), 'IMC'] = 1
data_trans.loc[(data_trans['IMC'] >= 18.5) & (data_trans['IMC'] < 25), 'IMC'] = 2
data_trans.loc[(data_trans['IMC'] >= 25) & (data_trans['IMC'] < 30), 'IMC'] = 1
data_trans.loc[(data_trans['IMC'] >= 30) & (data_trans['IMC'] < 35), 'IMC'] = 1
data_trans.loc[data_trans['IMC'] < 40, 'IMC'] = 1

data_trans['IMC'] = data_trans['IMC'].astype(int)

In [66]:
data_trans = data_trans.drop(['Height(cm)', 'Weight(kg)'] ,axis=1)

In [67]:
data_trans.head()

,Age,Gender,Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,IMC
0,45,1,120/80,200,90,0,3,0,1
1,35,0,110/70,180,80,0,2,0,1
2,55,1,130/85,220,95,1,4,1,1
3,40,0,115/75,190,85,0,3,0,1
4,50,1,125/80,210,92,1,2,1,1

In [35]:
data_trans['IMC'].unique()

array([1])

In [44]:
print("Correlation entre Smoker et Exercise(hours/week) est : \n",data_trans[['Smoker','Exercise(hours/week)']].corr())
print("\n\n\nCorrelation entre Smoker et Heart Attack est : \n",data_trans[['Smoker','Heart Attack']].corr())

Correlation entre Smoker et Exercise(hours/week) est :
                         Smoker  Exercise(hours/week)
Smoker                1.000000              0.179879
Exercise(hours/week)  0.179879              1.000000



Correlation entre Smoker et Heart Attack est :
                 Smoker  Heart Attack
Smoker        1.000000      0.030422
Heart Attack  0.030422      1.000000

In [28]:
data_trans['Blood Pressure(mmHg)'].unique

<bound method Series.unique of 0      120/80
1      110/70
2      130/85
3      115/75
4      125/80
        ...
719    118/76
720    123/80
721    120/78
722    125/78
723    121/77
Name: Blood Pressure(mmHg), Length: 724, dtype: object>

In [68]:
data_trans[['Systolic Pressure', 'Diastolic Pressure']] = data_trans['Blood Pressure(mmHg)'].str.split('/', expand=True)

# Convertir les valeurs des colonnes en type numérique
data_trans['Systolic Pressure'] = pd.to_numeric(data_trans['Systolic Pressure'])
data_trans['Diastolic Pressure'] = pd.to_numeric(data_trans['Diastolic Pressure'])

In [69]:
data_trans.head()

,Age,Gender,Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,IMC,Systolic Pressure,Diastolic Pressure
0,45,1,120/80,200,90,0,3,0,1,120,80
1,35,0,110/70,180,80,0,2,0,1,110,70
2,55,1,130/85,220,95,1,4,1,1,130,85
3,40,0,115/75,190,85,0,3,0,1,115,75
4,50,1,125/80,210,92,1,2,1,1,125,80

In [47]:
print("Correlation entre (Systolic Pressure) et (Diastolic Pressure) est : \n",data_trans[['Systolic Pressure','Diastolic Pressure']].corr())

Correlation entre (Systolic Pressure) et (Diastolic Pressure) est :
                     Systolic Pressure  Diastolic Pressure
Systolic Pressure             1.00000             0.89638
Diastolic Pressure            0.89638             1.00000

In [70]:
import pandas as pd


# Fonction pour classer la pression artérielle en fonction des critères de santé
def classify_blood_pressure(bp):
    systolic, diastolic = map(int, bp.split('/'))
    if systolic < 90 or diastolic < 60:
        return 'Hypotension'
    elif 90 <= systolic < 120 and 60 <= diastolic < 80:
        return 'Normale'
    elif 120 <= systolic < 130 and 80 <= diastolic < 85:
        return 'Hypertension de stade 1'
    elif 130 <= systolic < 140 or 85 <= diastolic < 90:
        return 'Hypertension de stade 2'
    else:
        return 'Hypertension de stade 3'

# Appliquer la fonction à la colonne 'Blood Pressure(mmHg)' et créer une nouvelle colonne 'Blood Pressure Classification'
data_trans['Blood Pressure Classification'] = data_trans['Blood Pressure(mmHg)'].apply(classify_blood_pressure)

# Afficher les premières lignes du DataFrame avec la nouvelle classification
print(data_trans[['Blood Pressure(mmHg)', 'Blood Pressure Classification']].head())

  Blood Pressure(mmHg) Blood Pressure Classification
0               120/80       Hypertension de stade 1
1               110/70                       Normale
2               130/85       Hypertension de stade 2
3               115/75                       Normale
4               125/80       Hypertension de stade 1

In [71]:
data_trans.head()

,Age,Gender,Blood Pressure(mmHg),Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,IMC,Systolic Pressure,Diastolic Pressure,Blood Pressure Classification
0,45,1,120/80,200,90,0,3,0,1,120,80,Hypertension de stade 1
1,35,0,110/70,180,80,0,2,0,1,110,70,Normale
2,55,1,130/85,220,95,1,4,1,1,130,85,Hypertension de stade 2
3,40,0,115/75,190,85,0,3,0,1,115,75,Normale
4,50,1,125/80,210,92,1,2,1,1,125,80,Hypertension de stade 1

In [72]:
data_trans.loc[data_trans['Blood Pressure Classification'] == 'Hypotension', 'Blood Pressure Classification'] = 0
data_trans.loc[data_trans['Blood Pressure Classification'] == 'Normale', 'Blood Pressure Classification'] = 1
data_trans.loc[data_trans['Blood Pressure Classification'] == 'Hypertension de stade 1', 'Blood Pressure Classification'] = 2
data_trans.loc[data_trans['Blood Pressure Classification'] == 'Hypertension de stade 2', 'Blood Pressure Classification'] = 3
data_trans.loc[data_trans['Blood Pressure Classification'] == 'Hypertension de stade 3', 'Blood Pressure Classification'] = 0

In [73]:
data_trans['Blood Pressure Classification'].unique()

array([2, 1, 3, 0], dtype=object)

In [76]:
data_trans = data_trans.drop(columns=['Blood Pressure(mmHg)', 'Systolic Pressure', 'Diastolic Pressure'], axis=1)

In [77]:
data_trans.head()

,Age,Gender,Cholesterol(mg/dL),Glucose(mg/dL),Smoker,Exercise(hours/week),Heart Attack,IMC,Blood Pressure Classification
0,45,1,200,90,0,3,0,1,2
1,35,0,180,80,0,2,0,1,1
2,55,1,220,95,1,4,1,1,3
3,40,0,190,85,0,3,0,1,1
4,50,1,210,92,1,2,1,1,2

# Plot

In [78]:
data_plot = data_trans.copy()

In [79]:
data_plot.columns

Index(['Age', 'Gender', 'Cholesterol(mg/dL)', 'Glucose(mg/dL)', 'Smoker',
       'Exercise(hours/week)', 'Heart Attack', 'IMC',
       'Blood Pressure Classification'],
      dtype='object')

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

# Regresuin Logistique

In [82]:
from sklearn.linear_model import LogisticRegression

# Séparer les variables explicatives (features) et la variable cible (target)
X = data_plot.drop('Heart Attack', axis=1)
y = data_plot['Heart Attack']

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créer et entraîner le modèle de régression logistique
model = LogisticRegression()
model.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Calculer la précision du modèle
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Afficher la matrice de confusion
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 0.9103448275862069
Confusion Matrix:
 [[56  3]
 [10 76]]

C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# KNN

In [45]:
from sklearn.neighbors import KNeighborsClassifier



# Séparer les variables explicatives (features) et la variable cible (target)
X = data_plot.drop('Heart Attack', axis=1)
y = data_plot['Heart Attack']

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créer et entraîner le modèle KNN
k = 5  # nombre de voisins à considérer
model = KNeighborsClassifier(n_neighbors=k)
model.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Calculer l'exactitude du modèle
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Afficher la matrice de confusion
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 1.0
Confusion Matrix:
 [[59  0]
 [ 0 86]]

# SVM

In [46]:
import pandas as pd
from sklearn.svm import SVC



# Séparer les variables explicatives (features) et la variable cible (target)
X = data_plot[['Age', 'Gender', 'Cholesterol(mg/dL)', 'Glucose(mg/dL)', 'Smoker', 'Exercise(hours/week)', 'Systolic Pressure', 'Diastolic Pressure', 'BMI']]
y = data_plot['Heart Attack']

# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Créer et entraîner le modèle SVM
model = SVC(kernel='linear')  # vous pouvez également essayer d'autres noyaux comme 'rbf' ou 'poly'
model.fit(X_train, y_train)

# Faire des prédictions sur l'ensemble de test
y_pred = model.predict(X_test)

# Calculer l'exactitude du modèle
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Afficher la matrice de confusion
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 1.0
Confusion Matrix:
 [[59  0]
 [ 0 86]]